# Week 1 review

---

### Topics (ranked by pain):

---

### Packages

In [1]:
import csv
import numpy as np
import pandas as pd

## Car dataset

In [2]:
# my path - put your specific one in place of this

In [10]:
#car_filename = '/Users/kiefer/github-repos/DSI-SF-2/datasets/used_cars/used_cars.csv'
car_filename = '/Users/katbishop/Desktop/DSI-SF2-bishopkd/datasets/used_cars/used_cars.csv'

In [5]:
students = ['Denise','Alex','Alex K', 'Carlos', 'Vanessa','Ryan','Cecilia','Tim',
           'Kat','Kyle','Divya','Amos','Caitlin','Lenny','Ovid','Chris',
           'Nick','Paul','Daniel','Edward','Nivetha','Nicholle']

print len(students)

22

### The order of cold-calls:

In [8]:
a = np.array([1,2])
a.astype(float)

array([ 1.,  2.])

In [6]:
# replace=True means you put name back in bucket, False means take it out, keep it out
# .tolist() adds chosen names to list
victims = np.random.choice(students, size=len(students), replace=False).tolist()

In [11]:
with open(car_filename, 'r') as f:
    reader = csv.reader(f)
    rows = [row for row in reader]

In [12]:
# draw a list of lists with 2 cols and 2 rows
a = [[1,2],[3,4]]
#(list of list representation) of a csv
rows

[['price', 'year', 'miles', 'doors', 'type'],
 ['22000', '2012', '13000', '2', 'car'],
 ['14000', '2010', '30000', '2', 'car'],
 ['13000', '2010', '73500', '4', 'car'],
 ['9500', '2009', '78000', '4', 'car'],
 ['9000', '2007', '47000', '4', 'car'],
 ['4000', '2006', '124000', '2', 'car'],
 ['3000', '2004', '177000', '4', 'car'],
 ['2000', '2004', '209000', '4', 'truck'],
 ['3000', '2003', '138000', '2', 'car'],
 ['1900', '2003', '160000', '4', 'car'],
 ['2500', '2003', '190000', '2', 'truck'],
 ['5000', '2001', '62000', '4', 'car'],
 ['1800', '1999', '163000', '2', 'truck'],
 ['1300', '1997', '138000', '4', 'car']]

In [15]:
# using list comprehension, get the price of the cars, excl the header

[row[0] for row in rows[1:]]

['22000',
 '14000',
 '13000',
 '9500',
 '9000',
 '4000',
 '3000',
 '2000',
 '3000',
 '1900',
 '2500',
 '5000',
 '1800',
 '1300']

In [ ]:
# using a filter stmt in a list comprehension
# create a list of doors excl the header

In [18]:
[row[3] for line_no, row in enumerate(rows) if line_no > 0]

['2', '2', '4', '4', '4', '2', '4', '4', '2', '4', '2', '4', '2', '4']

In [20]:
# create rows_parsed
# where the numeric values have been converted to floats
cars = []
cars = rows
cars

[['price', 'year', 'miles', 'doors', 'type'],
 ['22000', '2012', '13000', '2', 'car'],
 ['14000', '2010', '30000', '2', 'car'],
 ['13000', '2010', '73500', '4', 'car'],
 ['9500', '2009', '78000', '4', 'car'],
 ['9000', '2007', '47000', '4', 'car'],
 ['4000', '2006', '124000', '2', 'car'],
 ['3000', '2004', '177000', '4', 'car'],
 ['2000', '2004', '209000', '4', 'truck'],
 ['3000', '2003', '138000', '2', 'car'],
 ['1900', '2003', '160000', '4', 'car'],
 ['2500', '2003', '190000', '2', 'truck'],
 ['5000', '2001', '62000', '4', 'car'],
 ['1800', '1999', '163000', '2', 'truck'],
 ['1300', '1997', '138000', '4', 'car']]

In [31]:
# [cell for cell in row for row in cars] <- no additional bracket flattens

new_cars = [[float(cell) if cell.isdigit() else cell for cell in row] for row in cars]

# new_cars = [
#     [
#         float(cell) if cell.isdigit() 
#      else cell 
#      for cell in row
#     ] 
#     for row in cars
# ]

new_cars

[['price', 'year', 'miles', 'doors', 'type'],
 [22000.0, 2012.0, 13000.0, 2.0, 'car'],
 [14000.0, 2010.0, 30000.0, 2.0, 'car'],
 [13000.0, 2010.0, 73500.0, 4.0, 'car'],
 [9500.0, 2009.0, 78000.0, 4.0, 'car'],
 [9000.0, 2007.0, 47000.0, 4.0, 'car'],
 [4000.0, 2006.0, 124000.0, 2.0, 'car'],
 [3000.0, 2004.0, 177000.0, 4.0, 'car'],
 [2000.0, 2004.0, 209000.0, 4.0, 'truck'],
 [3000.0, 2003.0, 138000.0, 2.0, 'car'],
 [1900.0, 2003.0, 160000.0, 4.0, 'car'],
 [2500.0, 2003.0, 190000.0, 2.0, 'truck'],
 [5000.0, 2001.0, 62000.0, 4.0, 'car'],
 [1800.0, 1999.0, 163000.0, 2.0, 'truck'],
 [1300.0, 1997.0, 138000.0, 4.0, 'car']]

In [34]:
# do the same thing with for loops
new_cars = []
for row in cars:
    temp_row = []
    for cell in row:
        if cell.isdigit():
            temp_row.append(float(cell))
        else:
            temp_row.append(cell)
    new_cars.append(temp_row)
            
new_cars

[['price', 'year', 'miles', 'doors', 'type'],
 [22000.0, 2012.0, 13000.0, 2.0, 'car'],
 [14000.0, 2010.0, 30000.0, 2.0, 'car'],
 [13000.0, 2010.0, 73500.0, 4.0, 'car'],
 [9500.0, 2009.0, 78000.0, 4.0, 'car'],
 [9000.0, 2007.0, 47000.0, 4.0, 'car'],
 [4000.0, 2006.0, 124000.0, 2.0, 'car'],
 [3000.0, 2004.0, 177000.0, 4.0, 'car'],
 [2000.0, 2004.0, 209000.0, 4.0, 'truck'],
 [3000.0, 2003.0, 138000.0, 2.0, 'car'],
 [1900.0, 2003.0, 160000.0, 4.0, 'car'],
 [2500.0, 2003.0, 190000.0, 2.0, 'truck'],
 [5000.0, 2001.0, 62000.0, 4.0, 'car'],
 [1800.0, 1999.0, 163000.0, 2.0, 'truck'],
 [1300.0, 1997.0, 138000.0, 4.0, 'car']]

In [39]:
# convert cars to dictionary
# keys are column names
# rows are column values

cars = new_cars
cars
 
# set up frame of dictionary first, then you can reference it
cars_dict = {key:[] for key in cars[0]}

# enumerate to keep the data with the correct row
for index, key in enumerate(cars[0]):
        for row in cars[1:]:
            cars_dict[key].append(row[index])  

cars_dict

['price', 'year', 'miles', 'doors', 'type']

{'doors': [2.0,
  2.0,
  4.0,
  4.0,
  4.0,
  2.0,
  4.0,
  4.0,
  2.0,
  4.0,
  2.0,
  4.0,
  2.0,
  4.0],
 'miles': [13000.0,
  30000.0,
  73500.0,
  78000.0,
  47000.0,
  124000.0,
  177000.0,
  209000.0,
  138000.0,
  160000.0,
  190000.0,
  62000.0,
  163000.0,
  138000.0],
 'price': [22000.0,
  14000.0,
  13000.0,
  9500.0,
  9000.0,
  4000.0,
  3000.0,
  2000.0,
  3000.0,
  1900.0,
  2500.0,
  5000.0,
  1800.0,
  1300.0],
 'type': ['car',
  'car',
  'car',
  'car',
  'car',
  'car',
  'car',
  'truck',
  'car',
  'car',
  'truck',
  'car',
  'truck',
  'car'],
 'year': [2012.0,
  2010.0,
  2010.0,
  2009.0,
  2007.0,
  2006.0,
  2004.0,
  2004.0,
  2003.0,
  2003.0,
  2003.0,
  2001.0,
  1999.0,
  1997.0]}