In [2]:
import pandas as pd

sales_file = '../../../../DSI-SF2-bishopkd/datasets/sales_data_simple/sales.csv'
df = pd.read_csv(sales_file)

df.head()

   volume_sold  2015_margin  2015_q1_sales  2016_q1_sales
0    18.420760    93.802281      337166.53      337804.05
1     4.776510    21.082425       22351.86       21736.63
2    16.602401    93.612494      277764.46      306942.27
3     4.296111    16.824704       16805.11        9307.75
4     8.156023    35.011457       54411.42       58939.90

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
volume_sold      200 non-null float64
2015_margin      200 non-null float64
2015_q1_sales    200 non-null float64
2016_q1_sales    200 non-null float64
dtypes: float64(4)
memory usage: 6.3 KB

In [21]:
def add_one(i):
    return i+1


df['volume_sold'] = df['volume_sold'].map(add_one)
#df.drop('volumne_sold', axis=1, inplace=True)
df.head()

   volume_sold  2015_margin  2015_q1_sales  2016_q1_sales
0    21.420760    93.802281      337166.53      337804.05
1     7.776510    21.082425       22351.86       21736.63
2    19.602401    93.612494      277764.46      306942.27
3     7.296111    16.824704       16805.11        9307.75
4    11.156023    35.011457       54411.42       58939.90

In [28]:
pd.value_counts(df['volume_sold']).head(4)

6.147741     1
17.439435    1
10.196779    1
10.824354    1
Name: volume_sold, dtype: int64

In [31]:
def add_three(i):
    return i+3


df['2015_q1_sales'] = df['2015_q1_sales'].map(add_three)

df.head()

   volume_sold  2015_margin  2015_q1_sales  2016_q1_sales
0    21.420760    93.802281      337169.53      337804.05
1     7.776510    21.082425       22354.86       21736.63
2    19.602401    93.612494      277767.46      306942.27
3     7.296111    16.824704       16808.11        9307.75
4    11.156023    35.011457       54414.42       58939.90

KeyError: 1