In [8]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib as plt

titanic_df = pd.read_csv("../../../../datasets/titanic/titanic.csv")

def name_title(row):

    if "Mr." in row['Name'] or "Sir." in row['Name'] or "Don." in row['Name'] or "Jonkheer." in row['Name']:
        row['Title'] = "Mr"
    elif "Mrs." in row['Name'] or "Mme." in row['Name'] or "Lady" in row['Name'] or "Countess." in row['Name']:
        row['Title'] = "Mrs"
    elif "Ms." in row['Name']:
        row['Title'] = "Ms"
    elif "Miss." in row['Name'] or 'Mlle.' in row['Name'] :
        row['Title'] = "Miss"
    elif "Master." in row['Name']:
        row['Title'] = "Master"
    elif "Dr." in row['Name']:
        row['Title'] = "Dr"
    elif "Rev" in row['Name']:
        row['Title'] = "Rev"
    elif "Capt." in row['Name'] or 'Major' in row['Name'] or 'Col.' in row['Name']:
        row['Title'] = "Military Rank"

    return row


df = titanic_df.apply(name_title, axis=1)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr

In [9]:
import numpy as np
import matplotlib.pyplot as plt

df_dead = (df['Survived'] == 0)
df_alive = (df['Survived'] == 1)


fig = plt.figure(figsize=(14,10))
ax = fig.add_subplot(111)

df[df_dead].groupby(['Sex','Title'])[['Title']].size().unstack().plot(kind="bar", ax=ax)

plt.xlabel("Count ", fontsize=14)
plt.ylabel("Survived (by gender)", fontsize=14)
plt.title('Died', fontsize=16)
plt.legend(loc='lower right')
plt.show

In [4]:
fig = plt.figure(figsize=(14,10))
ax = fig.add_subplot(111)

#
df[df_alive].groupby(['Sex','Title'])[['Title']].size().unstack().plot(kind="bar", ax=ax)

plt.xlabel("Count ", fontsize=14)
plt.ylabel("Survived (by gender)", fontsize=14)
plt.title('Survived', fontsize=16)
plt.legend(loc='lower right')